<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <title>checkout Plan</title>

    <!-- style lists -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/jquery.bxslider.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link rel="stylesheet" href="css/feature-carousel.css">
    <link href="css/jquery-ui-1.9.2.custom.css" rel="stylesheet">
    <link href="css/loader.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700' rel='stylesheet' type='text/css'>

</head>
<body class="choose-plan-page">

    <!-- loader image before page load starts -->
    <div class="se-pre-con"></div>

    <!-- main wrapper of the site starts -->
    <div class="wrapper">

        <!-- ============== Header starts ============== -->
        <header class="logo-only-header">
        </header>
        <!-- ============== Header ends ============== -->

        <main>
            <!-- =============== choose your own plan title block starts ================== -->
            <section class="choose-plan-block">
                <div class="container">
                    <h5 class="text-center wow fadeInUp text-uppercase">CHOOSE YOUR OWN PLANS</h5>
                </div>
            </section>                
            <!-- =============== choose your own plan title block ends ================== -->     

            <!-- =============== plan steps block starts ================== -->
            <section class="plan-step">
                <div class="steps-wrapper" data-wizard-init>

                    <!-- == step navigation starts ==-->
                    <div class="container">
                        <ul class="text-center steps">
                            <li class="wow fadeInUp step1"><a href="/regPage"><span>1</span> About You</a></li>
                            <li class="wow fadeInUp step2"><a href="/selectPlan"><span>2</span> Select Program</a></li>
                            <li class="wow fadeInUp step4 current"><a href="/checkout"><span>4</span> Checkout</a></li>
                        </ul>
                    </div>
                    <!-- == step navigation ends ==-->

                    <!-- == step content starts ==-->
                    <div class="step-content">

                        <!-- choose plan about us step starts -->
                        <div class="step1">
                            <div class="col-xs-12 col-sm-6 wow fadeInLeft  left-form">
                                <h5 class="text-uppercase">TELL US ABOUT YOU, WE CAN PREPARED YOUR HEALTHY MEALS AS WELL</h5>
                                <form class="about-us-form" method="POST" action="/register">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 pull-left">
                                                <div class="light-font radio-btn radio-btn-men checked">
                                                    <input class="radio-class" type="radio" name="gender" value="men" /> <span>Men</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 pull-right">
                                                <div class="light-font radio-btn radio-btn-women">
                                                    <input class="radio-class" type="radio" name="gender" value="women" /> <span>Women</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <input type="text" placeholder="Full Name" id="name-register" name="name" />
                                    </fieldset>
                                    <fieldset>
                                        <input type="email" placeholder="E-mail" id="email-register" name="email"/>
                                    </fieldset>
                                    <fieldset>
                                        <input type="text" placeholder="Address" id="address-register" name="address"/>
                                    </fieldset>
                                    <fieldset>
                                        <input type="text" placeholder="ZIP Code" id="text-register" name="code" />
                                    </fieldset>
                                    <fieldset>
                                        <!-- <a href="/choose-plan-select-program.html"> -->
                                            <input type="submit" value="next" id="next"/>
                                        <!-- </a> -->
                                    </fieldset>
                                </form>
                            </div>

                            
                        </div>
                        <!-- choose plan about us step ends -->
                    </div>
                    <!-- == step content ends ==-->
                </div>
            </section>
            <!-- =============== plan steps block ends ================== -->
        </main>


        <!-- ============== footer block starts ============== -->
        <footer class="limited-footer">
            <div class="container">
                &copy; ALL RIGHT RESERVED.
            </div>
        </footer>
        <!-- ============== footer block ends ============== -->


    </div>
    <!-- main wrapper of the site ends -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.featureCarousel.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/owl.carousel.js"></script>    
    <script src="js/jquery.waypoints.js"></script>
    <script src="js/jquery.counterup.js"></script>
    <script src="js/main.js"></script>
</body>
</html>