<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <title>Review</title>

    <!-- style lists -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/jquery.bxslider.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link rel="stylesheet" href="css/feature-carousel.css">
    <link href="css/jquery-ui-1.9.2.custom.css" rel="stylesheet">
    <link rel="stylesheet" href="css/loader.css">
    <link href="css/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700' rel='stylesheet' type='text/css'>

</head>
<body class="choose-plan-page">

    <!-- loader image before page load starts -->
    <div class="se-pre-con"></div>
    <!-- loader image before page load ends -->

    <!-- main wrapper of the site starts -->
    <div class="wrapper">

        <!-- ============== Header starts ============== -->
        <header class="logo-only-header">
            <div class="container">
                <div class="row">

                    <!-- ============== logo block starts ============== -->
                    <div class="col-xs-12 col-sm-12 text-center logo-block"></div>
                    <!-- ============== logo block ends ============== -->
                </div>
            </div>
        </header>
        <!-- ============== Header ends ============== -->

        <main>
            <!-- =============== choose your own plan title block starts ================== -->
            <section class="choose-plan-block">
                <div class="container">
                    <h5 class="text-center wow fadeInUp text-uppercase">CHOOSE YOUR OWN PLANS</h5>
                </div>
            </section>                
            <!-- =============== choose your own plan title block ends ================== -->     

            <!-- =============== plan steps block starts ================== -->
            <section class="plan-step">
                <div class="steps-wrapper">

                    <!-- == step navigation starts ==-->
                    <div class="container">
                        <ul class="text-center steps">
                            <li class="wow fadeInUp step1"><a href="/regPage"><span>1</span> About You</a></li>
                            <li class="wow fadeInUp step2"><a href="/selectPlan"><span>2</span> Select Program</a></li>
                            <li class="wow fadeInUp step3"><a href="/review"><span>3</span> Review</a></li>
                            <li class="wow fadeInUp step4 current"><a href="/checkout"><span>4</span> Checkout</a></li>
                        </ul>
                    </div>
                    <!-- == step navigation ends ==-->

                        <!-- choose plan review step starts -->
                        <div class="step3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 wow fadeInLeft review-left">
                                        <div class="review-info">
                                            <div class="title name">
                                                <span>Your Name</span>
                                            </div>
                                            <div class="title email">
                                                <span>Email</span>
                                            </div>
                                            <div class="title address">
                                                <span>Address</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 wow fadeInRight review-right">
                                        <div class="review-info">
                                            <div class="title program">
                                                <span>Your Program</span>
                                                <span>Accelerated Weight Loss</span>
                                            </div>
                                            <div class="title plan">
                                                <span>Plan</span>
                                                <span>3 Weeks</span>
                                                <p>Meals for Breakfast, Lunch, Dinner and Snack with 4 Week Rotation</p>
                                                <p>Calories<br />Female 1150-1350, Male 1300-1600</p>
                                                <p>Protein Customization<br />Limited Protein Customization</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center big-buttons-group">
                                    <a class="btn border-btn-x-big hvr-wobble-horizontal" href="/regPage">edit</a>
                                    <a class="btn btn-x-big hvr-wobble-horizontal" href="/checkout">next</a>
                                </div>
                            </div>
                        </div>
                        <!-- == step content ends ==-->
                    </div>
                </div>
            </section>
            <!-- =============== plan steps block ends ================== -->
        </main>


        <!-- ============== footer block starts ============== -->
        <footer class="limited-footer">
            <div class="container">
                &copy; Inc. ALL RIGHT RESERVED.
            </div>
        </footer>
        <!-- ============== footer block ends ============== -->


    </div>
    <!-- main wrapper of the site ends -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery-ui-1.9.2.custom.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.featureCarousel.js"></script>
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/owl.carousel.js"></script>    
    <script src="js/jquery.waypoints.js"></script>
    <script src="js/jquery.counterup.js"></script>
    <script src="js/main.js"></script>
</body>
</html>